body {
  margin: 0;
  padding: 0;
}


.other-image-items {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  .image {
    filter: brightness(70%);
    cursor: pointer;
    &:hover {
      filter: none;
    }
    &:hover > h3 {
      filter: drop-shadow(5px 5px 10px purple);
    }
  }
}

// ** Video Counting
.video-count-cards {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

  // Common styles
  .slug {
    font-weight: bold;
    font-size: 14px;
    color: #9333ea;
    a:hover {
      text-decoration: underline;
    }
  }
  .totalVideos {
    font-size: 50px;
    font-weight: bolder;
  }
  .type {
    font-size: 18px;
    text-transform: uppercase;
  }

  .video-count-card-1 {
    .totalVideos {
      color: purple;
    }
    .type {
      color: gray;
    }
  }
  .video-count-card-2 {
    background-color: #292929;
    color: white;
  }
}
