.carousel {
  width: 100vw;
  height: 90vh;
  position: relative;

  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: fill;
      filter: brightness(60%);
    }
  }
  .slide[data-active] {
    opacity: 1;
  }
  .carousel-button {
    position: absolute;
    z-index: 2;
    top: 50%;
    font-size: 2rem;
    padding: 20px;
    transform: translateY(-50%);
    color: rgba($color: #fff, $alpha: 0.5);
    &:focus {
      outline: 1px solid $white;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .carousel-button.prev,
  .carousel-button.next {
    &:hover,
    &:focus {
      color: $white;
    }
  }

  .carousel-button.prev {
    left: 1rem;
    transform: rotate(180deg);
    top: 41.5%;
  }
  .carousel-button.next {
    right: 1rem;
  }
  .carousel-indicators {
    position: absolute;
    left: 45%;
    top: 80%;
    width: 20%;
    display: flex;
    .indicator {
      &::before {
        content: 'o';
        font-size: 20px;
        padding-left: 10px;
        color: rgba($color: #fff, $alpha: 0.5);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    height: 50vh;
  }
}

.other-image-items {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  .image {
    filter: brightness(70%);
    cursor: pointer;
    &:hover {
      filter: none;
    }
    &:hover > h3 {
      filter: drop-shadow(5px 5px 10px purple);
    }
  }
}

// ** Video Counting
.video-count-cards {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

  // Common styles
  .slug {
    font-weight: bold;
    font-size: 14px;
    color: #9333ea;
    a:hover {
      text-decoration: underline;
    }
  }
  .totalVideos {
    font-size: 50px;
    font-weight: bolder;
  }
  .type {
    font-size: 18px;
    text-transform: uppercase;
  }

  .video-count-card-1 {
    .totalVideos {
      color: purple;
    }
    .type {
      color: gray;
    }
  }
  .video-count-card-2 {
    background-color: #292929;
    color: white;
  }
}
