.book-container {
  .book-banner {
    filter: brightness(60%);
  }

  .download-button {
    position: absolute;
    top: 40%;
    z-index: 20;
    display: flex;
    width: 100%;
    justify-content: center;

    .button {
      border-radius: 100px;
      color: white;
      font-weight: bolder;
      border: 2px solid transparent;
      display: flex;
      font-size: 60px;
      padding: 20px;
      justify-content: center;
      align-items: center;

      svg {
        width: 60px;
        height: 60px;
      }

      &:hover {
        border-color: white;
        background-color: rgba($color: #9333ea, $alpha: 0.4);
      }
    }
  }
}

// ** Gallery
.img__container {
  position: relative;

  &:hover>img {
    transform: scale(1.2);
    filter: blur(1px);
    transition: transform 1s;
  }

  &:hover>.img__dots {
    display: block;
    z-index: 1;
  }

  .img__dots {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .img__title {
    position: absolute;
    top: 85%;
    width: 100%;
    height: 15%;
    color: white;
    background-color: #06020976;
  }
}

// Video Component
.youtube__video-list {
  .youtube__video {
    &:hover>.youtube__img {
      display: block;
      z-index: 1;
    }

    &:hover>img {
      opacity: 0.8;
    }
  }

}

@media only screen and (max-width: 550px) {
  .download-button {
    .button {
      padding: 10px !important;
      font-size: small !important;
      svg {
          width: 20px !important;
          height: 20px !important;
      }
    }
  }
}